*{
    padding: 0;
    margin: 0;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

/******Barra de navegação****/
#campo-pesquisa{
    /*border: 1px solid #000;*/
    margin-left: auto;
}

#links{
    /*border: 1px solid #000;*/
    margin-left: auto;
}

nav ul li a{
    /*border: 1px solid #000;*/
    text-decoration: none;
    color: #000;
    margin-left: 25px;
}

/******Sobre*********/
video {
    width: 100%;
    max-height: 100%;
}

/******Artigos******/

.titulo-artigos{
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.alinhamento{
    font-size: 15px;
}

.cards-artigos{
    margin: 8px;
}

.card-img-top{
    border-radius: 10px 10px 0px 0px;
}

.list{
    margin: 20px 40px;
}

.list li{
    margin: 5px 0px;
}

/*********Vídeos*********/
.titulos{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

#titulo-artigo{
    margin-bottom: 30px;
}

h3{
    text-align: center;
}

.video{
    margin-left: 60px;
    /*border: 1px solid #000;*/
}

video{
    width: 100%;
    height: auto;
}

/***Rodapé***/
footer{
    height: 250px;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-image: url(img/Footer.png);
    color:  #5d6d7e;
}

#insta-link{
    text-decoration: none;
    color: #000;
    font-weight:600;
    font-size: 12pt;
    color:  #5d6d7e;
}

.contato{
    /*border: 1px solid #000;*/
    margin-top: 1rem;
}

#direitos{
    color: #000;
    font-weight:700;
    font-size: 16pt;
    color:  #5d6d7e;
}

#atualizacao{
    color: #000;
    font-weight:700;
    font-size: 14pt;
    /*border: 1px solid #000;*/
    margin-left: 10px;
    color:  #5d6d7e;
}

/*form*/
.form{
    background-color: #f4f5f5;
    margin-top: 30px;
    padding-bottom: 30px;
    height: 300px;
}

.form h3{
    padding: 40px 0px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    width: 40%;
    margin-right: 10px;
}

.modal-content{
    background-color: #f4f5f5;
}

.modal-body form{
    margin-top: 20px;
}

.modal-body p{
    margin-top: 30px;
}

#button{
    margin-left: 10px;
}

/*images*/
.img{
    width: 90vw;
}

/*medias queries*/
@media (max-width: 425px){
    .email{
        width: 90%;
    }
}